body {
    margin:0;
    font-family:Arial,sans-serif;
    font-size:12px;	
}
.topo {
    height:30px;
    background-color:#333;
    color:#FFF;
}
.topo_int {
    width:100%;
    max-width:1040px;
    margin:auto;
}
.topo_nav {
    float:left;
    width:50%;
    height:30px;
}
.topo_social {
    float:right;
    width:50%;
    height:28px;
    margin-top:2px;
}
.topo_nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
.topo_nav li {
    float:left;
    height:30px;
    line-height:30px;
    margin-left:8px;
    margin-right:8px;
}
.topo_nav li a {
    text-decoration: none;
    color:white;
}
.caixa_busca {
    width:110px;
    height:20px;
    outline:0;
}
.topo_social a {
    float:right;
}
.topo_social input {
    float:right;
}
.topo_social img {
    margin-right:4px;
}
.logotipo {
    height:95px;
    color:#000;
}
.logotipo_int {
    width:100%;
    max-width:1040px;
    margin:auto;
    height:95px;	
}
.logo {
    width:230px;
    height:90px;
    float:left;
    margin-top:5px;
}
.logo img{
    height: 90px;
    width: 230px;
}
.logotipo .banner {
    width:650px;
    height:80px;
    float:right;
    margin-top:7px;
    background-color:red;
}
.menu_nav {
    height: 40px;
    background-color: red;
}
.menu_int {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.menu_int ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_int li {
    float:left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu_int a {
    text-decoration: none;
    color: #FFFFFF;
}
.sub_nav {
    width: 150px;
    position: absolute;
    display: none;
    background-color: red;
}
.menu_int li:hover .sub_nav {
    display:block;
}
.sub_nav_item {
    height: 30px;
    line-height: 30px;
    width: 150px;
    text-align: center;
    border-top: 1px;
    border-color: #FFFFFF;
    border-top-style: solid;
}
.sub_nav_item:hover {
    background-color: indianred;
}
.menu_int li:hover {
    background-color: indianred;
}
.ultimas_noticias {
    height: 40px;    
}
.ultimas_noticias_int {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.ultimas_noticias_area {
    height: 28px;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    margin-top: 10px;
}
.ultimas_noticias_titulo {
    background-color: red;
    color: white;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 16px;
}
.ultimas_noticias_conteudo {
    color: black;
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
    display: inline-block;
}
.container {
    
}
.container_int {
    width: 100%;
    max-width: 1040px;
    margin: auto;
   
}
.conteudo_principal {
    float:  left;
    background-color: greenyellow;
    min-height: 200px;
    width: 753px;
}
.conteudo_lateral {
    width: 275px;
    min-height: 200px;
    float: right;
    background-color: green;
    margin-left: 12px;
}